	<!-- partial:partials/_header.html -->
    <th:block th:replace="/../common/header.html"></th:block>
    <!-- partial -->
    <div class="page-body">
      <!-- partial:partials/_sidebar.html -->
    <th:block th:replace="/../common/sidebar.html"></th:block>
    <!-- partial -->
    
    <style>
    	.fieldError{
    		border: 1px solid red;
    		color: red;
    	}
    	.field-error{
    		color: red;
    	}
    </style>
    
    <div class="page-content-wrapper">
     <div class="page-content-wrapper-inner">
      <div id="content-viewport"> 
        <!-- Begin Page Content -->
        <div class="row">
		 <div class="col-12">		
    			<div class="grid">
    			 <p class="grid-header">상품 상세/ 수정</p>
    			  <div class="grid-body">
                    <div class="item-wrapper">
                      <div class="table-responsive">
						<div>
							<div>
								<form th:action th:object="${product}" method="post" enctype="multipart/form-data">
									<div th:if="${#fields.hasGlobalErrors()}">
								 		<p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
								 	</div>
									<input th:field="*{id}" type="hidden">
									<table class="table table-bordered">
				            			<tbody>
				            				<tr>
				            					<th style="width:20%;">카테고리</th>
				            					<td>
				            						<div class="rows">
				            							<select th:field="*{categoryId}" class="form-control">
				            								<option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
				            							</select>
				            							<p th:errors="*{categoryId}" class="field-error">에러 메시지</p>
				            						</div>
				            					</td>
				            				</tr>
				            				<tr>
				            					<th style="width:20%">이름</th>
				            					<td>
				            						<div class="rows">
				            							<input th:field="*{name}" type="text" th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
				            							<p th:errors="*{name}" class="field-error">에러 메시지</p>
				            						</div>
				            					</td>
				            				</tr>
				            				<tr>
				            					<th style="width:20%">가격</th>
				            					<td>
				            						<div class="rows">
				            							<input th:field="*{price}" type="number" th:class="${#fields.hasErrors('price')}? 'form-control fieldError' : 'form-control'">
				            							<p th:errors="*{price}" class="field-error">에러 메시지</p>
				            						</div>
				            					</td>
				            				</tr>
				            				<tr>
				            					<th style="width:20%;">이미지</th>
				            					<td>
				            						<div class="rows">
				            							<!-- 기존 이미지 노출 및 id -->
				            							<div style="display:flex;flex-flow:nowrap;">
					            							<div style="display:flex;flex-flow:column;" th:each="img, i : *{productImage}">
					            								<img th:src="|images/${img.storeName}|" width="300" height="300">
					            								<a th:href="|download/${img.id}|" th:text="|다운로드 : ${img.originalName}|"></a>
					            								<input th:name="|productImage[${i.index}].id|" th:value="${img.id}" type="hidden">
					            							</div>
				            							</div>
				            							<br>
				            							
				            							<!-- 삭제할 이미지 id -->
				            							<input type="hidden" value="">
				            							
				            							<p>업로드 시 파일 경로는 C:/Download/~ 입니다.</p>
				            							<input th:field="*{image}" type="file" multiple="multiple">
				            							<p th:errors="*{image}" class="field-error">에러 메시지</p>
													</div>
				            					</td>
				            				</tr>
				            				<tr>
				            					<th style="width:20%;">노출여부</th>
				            					<td>
				            						<div class="rows">
														<select th:field="*{status}" th:class="${#fields.hasErrors('status')}? 'form-control fieldError' : 'form-control'">
															<option value="SHOW" selected>노출</option>
															<option value="HIDE">숨김</option>
														</select>
														<p th:errors="*{status}" class="field-error">에러 메시지</p>
													</div>
				            					</td>
				            				</tr>
				            				<tr>
				            					<th style="width:20%;">옵션 항목 (쉼표로 구분) ex. 색상,사이즈</th>
				            					<td>
				            						<div class="rows">
														<input th:field="*{optionItems}" type="text" style="width:30%;" th:class="${#fields.hasErrors('optionItems')}? 'form-control fieldError' : 'form-control'">
														<p th:errors="*{optionItems}" class="field-error">에러 메시지</p>
													</div>
				            					</td>
				            				</tr>
				            				<tr>
				            					<th style="width:20%">옵션 이름 (쉼표로 구분) ex. red,XL <br> 옵션별 재고</th>
				            					<td>
				            						<div class="rows">
				            							<!-- <p>옵션1</p>
				            							<th:block th:if="*{option.size} > 0">
				            							<input th:field="*{option[0].names}" th:class="${#fields.hasErrors('option')}? 'form-control fieldError' : 'form-control'" type="text" style="width:30%;" placeholder="옵션 이름을 입력해주세요">
				            							<input th:field="*{option[0].stockQuantity}" th:class="${#fields.hasErrors('option')}? 'form-control fieldError' : 'form-control'" type="number" style="width:30%;" placeholder="옵션 재고를 입력해주세요">
				            							<p th:errors="*{option}" class="field-error"></p>
				            							</th:block>
				            							첫번째 옵션이 없으면
				            							<th:block th:if="*{option.size} == 0">
				            							<input name="option[0].names" class="form-control" style="width:30%;" placeholder="옵션 이름을 입력해주세요">
				            							<input name="option[0].stockQuantity" class="form-control" style="width:30%;" placeholder="옵션 재고를 입력해주세요">
				            							</th:block>
				            							<p>옵션2</p>
				            							두번째 옵션이 있으면
				            							<th:block th:if="*{option.size} > 1">
				            							<input th:field="*{option[1].names}" class="form-control" style="width:30%;" placeholder="옵션 이름을 입력해주세요">
				            							<input th:field="*{option[1].stockQuantity}" class="form-control" style="width:30%;" placeholder="옵션 재고를 입력해주세요">
				            							</th:block>
				            							두번째 옵션이 없으면
				            							<th:block th:else="*{option.size} > 1">
				            							<input name="option[1].names" class="form-control" style="width:30%;" placeholder="옵션 이름을 입력해주세요">
				            							<input name="option[1].stockQuantity" class="form-control" style="width:30%;" placeholder="옵션 재고를 입력해주세요">
				            							</th:block> -->
				            							<th:block th:each="opt, i : *{option}">
				            								<p th:text="|옵션${i.count}|"></p>
				            								<input th:field="*{option[__${i.index}__].names}" th:class="${#fields.hasErrors('option')}? 'form-control fieldError' : 'form-control'" type="text" style="width:30%;" placeholder="옵션 이름을 입력해주세요">
				            								<input th:field="*{option[__${i.index}__].stockQuantity}" th:class="${#fields.hasErrors('option')}? 'form-control fieldError' : 'form-control'" type="number" style="width:30%;" placeholder="옵션 재고를 입력해주세요">
				            							</th:block>
				            							<p th:errors="*{option}" class="field-error"></p>
				            						</div>
				            					</td>
				            				</tr>
				            				<tr>
												<th style="width:20%"></th>	
												<td>
													<div class="rows">
														<button type="submit" class="btn">수정</button>
													</div>
												</td>
											</tr>
				            			</tbody>
				            		</table>
				            	</form>	
							</div>
						</div>
					  </div>
					 </div>	
				   </div>
		  		</div>
		  		<a href="javascript:history.back();" style="width:100px;background:#fff;" class="btn btn-user btn-block">뒤로가기</a>	
         </div>
          <!-- DataTales Example -->
        
       </div>
      </div>
      
      <!-- Footer -->
           <!-- End of Main Content -->
      </div>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
	
	
	 <!-- Bootstrap core JavaScript-->
  	<script src="../assets/vendors/js/core.js"></script>
  	<script src="../assets/vendors/datatables/jquery.dataTables.min.js"></script>
  	<script src="../assets/vendors/datatables/dataTables.bootstrap4.min.js"></script>
  	<script src="../assets/js/demo/datatables-demo.js"></script>
    <script src="../assets/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/vendors/chartjs/Chart.min.js"></script>
    <script src="../assets/js/charts/chartjs.addon.js"></script>
    <script src="../assets/js/template.js"></script>
    <script src="../assets/js/dashboard.js"></script>
    <script th:inline="javascript">
    </script>
</body>
</html>